@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bukhari";
  src: url("../assets/BukhariScript.ttf");
}
@font-face {
  font-family: "Archivo";
  src: url("../assets/ArchivoBlack-Regular.ttf");
}
